@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust this value to control the distance */
  }
  100% {
    transform: translateY(0);
  }
}

@variants responsive {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
  }

  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Partially transparent track */
  }

  /* Handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #ba9ffb; /* Color of the scrollbar handle */
    border-radius: 4px; /* Round the edges of the handle */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}

.chart-container {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.chart {
  width: 300px; /* Set your desired width here */
  height: 300px; /* Set your desired height here */
}

.move-up-down {
  animation: moveUpDown 2s ease-in-out infinite; /* Adjust animation duration (1000ms) here */
}

@layer components {
  .button-style {
    @apply py-1 px-2 rounded bg-button-primary text-text-primary tracking-wide cursor-pointer font-semibold hover:bg-button-p-hover transition-all;
  }
  .button-dark {
    @apply px-2 py-1 rounded bg-button-dark text-text-light tracking-wide font-semibold cursor-pointer hover:bg-button-d-hover transition-all;
  }

  .loader {
    width: 30px;
    height: 30px;
    display: grid;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side, #0000 40%, #6121d1 41%);
    background: linear-gradient(0deg, rgba(97, 33, 209, 0.5) 50%, rgba(97, 33, 209, 1) 0) center/4.5px 100%,
      linear-gradient(90deg, rgba(97, 33, 209, 0.25) 50%, rgba(97, 33, 209, 0.75) 0) center/100% 4.5px;
    background-repeat: no-repeat;
    animation: spinner-d3o0rx 1s infinite steps(12);
  }

  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
  }

  .loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
  }

  @keyframes spinner-d3o0rx {
    100% {
      transform: rotate(1turn);
    }
  }

  .avatar-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  /* Style for the hidden radio inputs */
  .avatar-label input[type="radio"] {
    display: none;
  }

  /* Style for the avatar images */
  .avatar-image {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust spacing between images */
    border: 2px solid transparent; /* Add a border for selection indication */
  }

  /* Style for selected avatar */
  .avatar-label input[type="radio"]:checked + .avatar-image {
    /* border: solid 1px #ba9ffb; */
    border-radius: 5px;
    background-color: #3a3645; /* Change border color for selected avatar */
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-datepicker-wrapper {
  width: 100% !important;
}
